$hot-dark: #c41335; // theme color (red)
$hot-light: #fd0000;

$white-max: #fff;
$white-light: #eee; //html bg color
$whit-dark: #ddd;
$whit-bright: #f5f5f5;

$gray-light: #888;
$gray: #777;
$gray-dark: #666;

$black-bright: #333;
$black-light: #222;
$black-dark: #111;
$black-max: #000;
